/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div{
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
   background-color: aliceblue;
} */

*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(34, 238, 78, 0.925);
  display: flex;
  justify-content: center;
  align-items: center;
}
#card{
  border-radius: 20px;
  width: 30vw;
  height: 50vh;
  background-color: whitesmoke;
}
h1{
  background-color: violet;
  margin-top: 15px;
  color: white;
  text-align: center;
}
input{
  background: none;
  border: none;
  border-bottom: 3px solid violet;
  outline: none;
  text-align: center;
  font-size: 13px;
  margin: 10px;
}

button{
  margin-top: 15px;
  background-color: violet;
  font-size:20px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
}

button:hover{
  background-color: rgb(133, 228, 133);
  /* text-decoration: line-through; */
}

li{
  list-style: none;
  margin-left: 20px;
  margin-top: 10px;
}

#output{
  display: flex;
  align-items: center;
  font-size: 23px;
  margin-left: 10px;
}
#output button:hover{
  background-color: rgb(248, 85, 85);
}